# Environment & secrets
.env
*.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/

# Node / JS
node_modules/
npm-debug.log
yarn-error.log

# VS Code
.vscode/

# macOS / Window